$title-font: 'Spartan', sans-serif;
$text-font: 'Open Sans', sans-serif;

$dark-grey: #121211;
$grey: #262626;
$light-grey: #333;
$super-light-grey: #4d4d4d;

$white: #fff;
$light-white: #d9d9d9;
$dark-white: #8c8c8c;

$secondary: #c885f2;

$ultra-high-priority: #f28685;
$high-priority: #f1b486;
$medium-priority: #d6e996;
$low-priority: #81c784;
