$title-font: 'Spartan', sans-serif;
$text-font: 'Open Sans', sans-serif;

$dark-grey: #121211;
$grey: #262626;
$light-grey: #333333;
$super-light-grey: #4d4d4d;

$white: #ffffff;
$light-white: #d9d9d9;
$dark-white: #8c8c8c;

$secondary: #C885F2;

$ultra-high-priority: #F28685;
$high-priority: #F1B486;
$medium-priority: #D6E996;
$low-priority: #81c784;

