@import "../shared/variables";
@import "../shared/mixins";

.side-bar {
  color: $white;
  background-color: $grey;
  position: fixed;
  overflow-y: auto;
  height: 100%;
  top: 0;
  left: 0;
  width: 20%;

  .side-bar-header {
    @include flex-row;

    justify-content: space-between;
    padding: 5%;
    border-bottom: 1px solid $dark-white;

    .sidebar-title {
      margin: 0;
      width: 60%;
    }
  }

  .add-container {
    @include flex-row;

    justify-content: center;
    margin: 0.5em;
  }

  .projects-container {
    margin: 0;
    padding: 0;
    color: $light-white;

    .to-do-project {
      @include flex-row;

      padding: 0% 5%;
      padding-bottom: 0;
      height: 3.75em;
      max-height: 3.75em;

      .project-container {
        @include flex-row;

        width: 100%;
        .edit-icon { display: none; }
        .delete-icon { display: block; }
      }

      .icon-container {
        @include flex-row;

        margin: auto 0.5em;
        justify-content: space-between;
        cursor: default;

        .edit-icon,
        .delete-icon {
          display: block;
          cursor: pointer;
        }
      }
      .edit-container { display: none; }

      &.selected {
        background-color: $light-grey;

        &.to-do-edit {
          .text-container { display: none !important; }
          .edit-icon { display: none !important; }
          .delete-icon { display: block !important; }

          .edit-container {
            @include flex-row;

            align-items: center;
            width: 80%;
            .priority-selector { cursor: pointer; }

            .edit-project {
              background-color: $light-grey;
              color: $light-white;
              border: none;
              font-size: 1em;
              width: 50%;
            }
          }
        }
      }
    }
  }
}
