@import "shared/variables";
@import "shared/mixins";

html {
  height: 100%;
}

body {
  @include flex-row;

  height: 100%;
  margin: 0;
  background-color: $dark-grey;
  justify-content: center;

  .title {
    margin: 0 auto;
    color: $white;
    font-family: $title-font;
  }

  .text {
    font-family: $text-font;
    font-weight: 400;
  }
}

.icon {
  cursor: pointer;
  fill: $light-white;
  height: 1.5em;
  width: 1.5em;
}

.uh-priority::after {
  @include priority-dot;

  color: $ultra-high-priority;
}

.high-priority::after {
  @include priority-dot;

  color: $high-priority;
}

.medium-priority::after {
  @include priority-dot;

  color: $medium-priority;
}

.low-priority::after {
  @include priority-dot;

  color: $low-priority;
}

.priority-edit {
  @include flex-row;

  margin: 0 3%;
  width: min-content;

  .selected::after {
    border-bottom: 1px solid $dark-white;
  }

  [class$="-priority"] {
    margin: auto;
    cursor: pointer;

    .full-priority {
      opacity: 0;
      visibility: hidden;
      transition: 0.5s opacity ease;
    }

    &:hover {
      .full-priority {
        opacity: 1;
        visibility: visible;
      }
    }

    &.selected {
      .full-priority {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .low-priority { fill: $low-priority; }
  .medium-priority { fill: $medium-priority !important; }
  .high-priority { fill: $high-priority; }
  .uh-priority { fill: $ultra-high-priority; }
}
